preprocessing/.Rhistory
preprocessing/.Rproj.user/
preprocessing/omnipathr-log
preprocessing/toy_carnival.R
preprocessing/preprocessed_data/cmap_mean_dist_dupls_shrna_q1replicates.rds
preprocessing/preprocessed_data/cmap_mean_dist_kegg_shrna_q1replicates_5dupls.rds
preprocessing/preprocessed_data/dupl_shRNA_mean_dist_long.rds
preprocessing/preprocessed_data/prior_knowledge_trimmed_net.txt
preprocessing/preprocessed_data/all_filtered_Kds.tsv
preprocessing/preprocessed_data/all_filtered_cells.tsv
postprocessing/.Rhistory
postprocessing/.Rproj.user/
postprocessing/omnipathr-log
results/cmap_mean_dist_kegg_shrna_statcandidates_tasfiltered.rds
results/cmap_mean_dist_kegg_shrna_statcandidates.rds
results/dupl_shRNA_mean_dist_q1replicates_5dupls_long.rds
results/keggNES_shRNAs_candidates_genes_filteredtas.rds
results/keggpadj_shRNAs_candidates_genes_filteredtas.rds
results/stat3_shrna_tf_activities.tsv
results/stat3_networks
results/keggpadj_shRNAs.rds
results/keggNES_shRNAs.rds
results/kegg_mean_dist_shrna_with_drugs.rds
results/sim_cosine_latent_5dupls.rds
results/dist_latent_5dupls.rds
results/latent_shrna_all_with_stat3_cosine_long_format.rds
results/clustering200_res.rds
results/clustering250_res.rds
results/clustering500_res.rds
results/df_kelbow.rds
results/df_kelbow_2.rds
results/df_kelbow_new.rds
results/GSEAgenes.xlsx
results/latentgenes.xlsx
results/dist_all_q1_shRNAs_with_STAT3.rds
results/GOTerms/*
figures/.Rhistory
figures/.Rproj.user/
data/geneinfo_beta.txt
data/level5_beta_trt_cp_n720216x12328.gctx
data/siginfo_beta.txt
data/dorothea.tsv
data/compoundinfo_beta.txt
data/CCLE/CCLE_expression.csv
data/CCLE/CRISPR_gene_effect.csv
data/CCLE/sample_info.csv
data/10fold_cross_validation/
data/3fold_cross_validation/
learning/.ipynb_checkpoints
inputFile_paths
.Rproj.user
